<a class="btn btn-primary btn-outline btn-sm" role="button" data-toggle="collapse" href="#<%= note.id%>addNoteCollapse" aria-expanded="false" aria-controls="<%= note.id %>addNoteCollapse">
  Add Note
</a>
<div class="collapse" id="<%= note.id %>addNoteCollapse">
  <div class="well">

    <%= render partial: "notes/intervals/seconds_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/thirds_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/fourths_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/fifths_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/sixths_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/sevenths_form", locals: { scale: @scale, note: note } %>
    <br>
    <%= render partial: "notes/intervals/octave_form", locals: { scale: @scale, note: note } %>

  </div>
</div>
