<a class="btn btn-primary btn-outline" role="button" data-toggle="collapse" href="#<%= note.id%>addNoteCollapse" aria-expanded="false" aria-controls="<%= note.id %>addNoteCollapse">
  Add notes
</a>
<div class="collapse" id="<%= note.id %>addNoteCollapse">
  <div class="well">
    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class='form-group'>
        <%= label_tag :fifth, "Fifth (3/2):" %>
        <%= hidden_field_tag 'fifth' %>
        <%= hidden_field_tag 'note_id', note.id %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
    <% end %>

    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class='form-group'>
        <%= label_tag :octave, "Octave (2/1):" %>
        <%= hidden_field_tag 'octave' %>
        <%= hidden_field_tag 'note_id', note.id %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
    <% end %>

    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class='form-group'>
        <%= label_tag :third_type, "Third:" %>
        <%= hidden_field_tag 'note_id', note.id %>
        <%= select_tag :third_type, options_for_select([ "Major (5/4)", "Minor (6/5)", "Septimal minor (7/6)"]), class:'form-control' %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper" %>
    <% end %>

    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class="form-group">
        <%= label_tag :seventh_type, "Seventh:" %>
        <%= hidden_field_tag 'note_id', note.id %>
        <%= select_tag :seventh_type, options_for_select([ "Major (15/8)", "Minor (9/5)", "Pythagorean minor (16/9)", "Harmonic minor (7/4)"]), class: 'form-control' %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
    <% end %>
  </div>
</div>
