<a class="btn btn-primary btn-outline btn-sm" role="button" data-toggle="collapse" href="#<%= note.id%>addNoteBelowCollapse" aria-expanded="false" aria-controls="<%= note.id %>addNoteBelowCollapse">
  Add Below
</a>
<div class="collapse" id="<%= note.id %>addNoteBelowCollapse">
  <div class="well">
    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class='form-group'>
        <%= label_tag :fifth_below, "Fifth Below (4/3):" %>
        <%= hidden_field_tag 'fifth_below' %>
        <%= hidden_field_tag 'note_id', note.id %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
    <% end %>

    <%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
      <div class='form-group'>
        <%= label_tag :major_third_below, "Major Third Below (8/5)" %>
        <%= hidden_field_tag 'major_third_below' %>
        <%= hidden_field_tag 'note_id', note.id %>
      </div>
      <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
    <% end %>

  </div>
</div>
