<%= render('layouts/errors', :object => @note) %>

<h4>Please enter numbers between 20 and 20000, separated by a comma</h4>

<%= form_tag [@scale, @note] do %>
  <%= label_tag :frequencies %>
  <%= text_field_tag :frequencies %>
  <p><%= submit_tag %></p>
<% end %>
