<li class = 'list-group-item'>
  <span id="note_freq-<%=note.id%>"><%= note.name %> (<%= note.frequency %> hz)</span>

  <%= render partial: "notes/add_note_dropdown", locals: { scale: @scale, note: note } %>

  <%= render partial: 'notes/transpose', locals: { scale: @scale, note: note } %>

  <button class="note<%=note.id%> btn btn-success">Play note</button>
</li>
