<h4>Here are the notes in this scale:</h4>
<div class='well'>
  <ul class="list-group">
    <% @scale.notes.order(:frequency).each_with_index do |note, index| %>
      <li class="list-group-item padded">
        <span id="note_freq-<%=note.id%>"><%= note.frequency %></span>
        <% if @scale.user == current_user || !@scale.user %>
          | <%= link_to "Edit", edit_scale_note_path(@scale, note), remote: true %> |
          <%= link_to "Delete", scale_note_path(@scale, note),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"}, remote: true %>
        <% end %>
        <%= content_tag :div, class: "freq_information", data: {notes: @scale.notes } do %>
        <% end %>
        <h5>Add notes above this note:</h5>
        <div class="form-row">
          <%= form_tag scale_notes_path(@scale, note), class: 'form-inline' do %>
            <div class='form-group'>
              <%= label_tag :third_type, "Third:" %>
              <%= select_tag :third_type, options_for_select([ "Major (5/4)", "Minor (6/5)", "Septimal minor (7/6)"]), class:'form-control' %>
            </div>
            <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm" %>
          <% end %>
        </div>

        <div class="form-row">
          <%= form_tag scale_notes_path(@scale, note), class: 'form-inline' do %>
            <div class='form-group'>
              <%= label_tag :fifth, "Fifth (3/2):" %>
              <%= hidden_field_tag 'fifth' %>
            </div>
            <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm"%>
          <% end %>
        </div>

        <div class="form-row">
          <%= form_tag scale_notes_path(@scale, note), class: 'form-inline' do %>
            <div class="form-group">
              <%= label_tag :seventh_type, "Seventh:" %>
              <%= select_tag :seventh_type, options_for_select([ "Major (15/8)", "Minor (9/5)", "Pythagorean minor (16/9)", "Harmonic minor (7/4)"]), class: 'form-control' %>
            </div>
            <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm"%>
          <% end %>
        </div>
        <div class="floatRight">
          <button class="note<%=index%> btn btn-success">Play note</button>
        </div>
      </li>

    <% end %>
  </ul>
</div>
