<h4>Here are the notes in this scale:</h4>
<div class='well'>
  <ul class="list-group">
    <% @scale.notes.order(:frequency).each_with_index do |note, index| %>
      <li class="list-group-item">
        <span id="note_freq-<%=note.id%>"><%= note.frequency %></span>
        <% if @scale.user == current_user || !@scale.user %>
          | <%= link_to "Edit", edit_scale_note_path(@scale, note), remote: true %> |
          <%= link_to "Delete", scale_note_path(@scale, note),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"}, remote: true %>
        <% end %>
        <%= content_tag :div, class: "freq_information", data: {notes: @scale.notes } do %>
        <% end %>
        <%= form_tag scale_notes_path(@scale, note) do %>
          <%= label_tag :third_type %>
          <%= select_tag :third_type, options_for_select([ "Major (5/4)", "Minor (6/5)", "Septimal minor (7/6)"]) %>
          <%= submit_tag "Add Third", class: "btn btn-outline btn-success btn-sm"%>
        <% end %>
          <div class="floatRight">
            <button class="note<%=index%> btn btn-success">Play note</button>
          </div>
      </li>

    <% end %>
  </ul>
</div>
