<li class = 'list-group-item'>
  <% if @scale.user == current_user || !@scale.user %>
    <%= link_to "", scale_note_path(@scale, note), class: 'stopper glyphicon glyphicon-remove btn btn-xs btn-outline btn-danger', :data => {:method => "delete"}, remote: true %>
  <% end %>

  <span id="note_freq-<%=note.id%>"><%= note.relative_name %> (<%= note.frequency.round(2) %> hz)</span>

  <% if @scale.user == current_user || !@scale.user %>
    <%= render partial: "notes/add_note_dropdown", locals: { scale: @scale, note: note } %>
    <%= render partial: 'notes/transpose', locals: { scale: @scale, note: note } %>
  <% end %>

  <button class="note<%=note.id%> btn btn-success">Play note</button>
</li>
