<a class="btn btn-primary btn-outline btn-sm" role="button" data-toggle="collapse" href="#<%= note.id%>transposeCollapse" aria-expanded="false" aria-controls="<%= note.id %>transposeCollapse">
  Transpose
</a>
<div class="collapse" id="<%= note.id %>transposeCollapse">
  <div class='well'>
    <%= form_tag scale_note_path(@scale, note), class: 'form-inline', method: 'patch', remote: true do %>
      <div class='form-group'>
        <%= hidden_field_tag 'transposition', 'up_octave' %>
      </div>
      <%= submit_tag "octave up", class: "btn btn-outline btn-primary btn-sm stopper"%>
    <% end %>
    <br>

    <%= form_tag scale_note_path(@scale, note), class: 'stopper form-inline', method: 'patch', remote: true do %>
      <div class='form-group'>
        <%= hidden_field_tag 'transposition', 'down_octave' %>
      </div>
      <%= submit_tag "octave down", class: "btn btn-outline btn-primary btn-sm"%>
    <% end %>
  </div>
</div>
