<% if current_user == @scale.user %>

  <h1>Add notes to <%= @scale.name %></h1>

  <p>Please enter numbers between 20 and 20000, separated by a comma</p>

  <%= form_tag [@scale, @note] do %>
    <div class="form-group">
      <%= label_tag :frequencies %>
      <%= text_field_tag :frequencies, "", class:'form-control'%>
    </div>
    <p><%= submit_tag "Add Notes", class: "btn btn-outline btn-success btn-lg bigButton"%></p>
  <% end %>
<% else %>
  <h3>You do not have authorization to add notes to this scale</h3>
<% end %>
