<h1 id="scale_name" class='centered'><%= @scale.name %></h1>
<% if @scale.user &&  @scale.user == current_user %>
  <div class="outer centered">
    <div id="edit_scale" class="inner">
      <%= link_to "Edit Scale Name", edit_scale_path(@scale), class:"btn btn-warning btn-outline btn-xs", remote: true %>
    </div>
    <div class="inner">
      <%= link_to "Delete Scale", scale_path(@scale), class: "btn btn-danger btn-outline btn-xs",
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
    </div>
  </div>
<% end %>
<div id="notes_list">
  <% if @scale.notes.any? %>
    <%= content_tag :div, class: "freq_information", data: {notes: @scale.notes } do %>
    <% end %>
    <%= render :partial => 'notes/notes_tree', :object => @notes %>
  <% else %>
    <p class="bufferText">This scale has no notes yet.</p>
  <% end %>
</div>

<div id="add_notes_form">
</div>

<% unless current_user || @scale.user %>
  <div class='container centered well'>
    <ul class='list-group'>
      <li class='list-group-item'>
        <h3>Log in to save your scale:</h3>
        <%= link_to "Sign up", new_user_registration_path(scale_id: @scale)  %> |
        <%= link_to "Log in", new_user_session_path(scale_id: @scale)  %>
      </li>
    </ul>
  </div>
  <br>
  <br>
<% else %>
  <div class='container centered'>
    <%= link_to "New Scale", scales_path, :method => :post, class: 'btn btn-primary btn-outline btn-lg centered' %>
  </div>
  <br>
<% end %>
