<h1 id="scale_name" class='centered'><%= @scale.name %></h1>
<% if current_user %>
  <div class="outer">
    <div id="edit_scale" class="inner">
      <%= link_to "Edit Scale Name", edit_scale_path(@scale), class:"btn btn-warning btn-outline btn-xs", remote: true %>
    </div>
    <div class="inner">
      <%= link_to "Delete Scale", scale_path(@scale), class: "btn btn-danger btn-outline btn-xs",
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
    </div>
  </div>
<% end %>
<div id="notes_list">
  <% if @scale.notes.any? %>
    <%= render :partial => 'notes/notes_list', :object => @scale.notes %>
  <% else %>
    <p class="bufferText">This scale has no notes yet.</p>
  <% end %>
</div>

<div id="add_notes_form">
</div>

<% unless current_user %>
  <div class='container centered well'>
    <ul class='list-group'>
      <li class='list-group-item'>
        <h3>Log in to save your scale:</h3>
        <%= link_to "sign up", new_user_registration_path(scale_id: @scale)  %> |
        <%= link_to "login", new_user_session_path(scale_id: @scale)  %>
      </li>
    </ul>
  </div>
  <br>
  <br>
<% end %>
