<%= form_tag scale_notes_path(@scale), class: 'form-inline', remote: true do %>
  <div class="form-group">
    <%= label_tag :fourth_type, "Fourth:" %>
    <%= hidden_field_tag 'note_id', note.id %>
    <%= select_tag :fourth_type, options_for_select([ "Septimal fourth (21/16)", "Perfect (4/3)", "Harmonic Tritone (11/8)", 'Five-Limit Tritone (45/32)'], "Perfect (4/3)"), class: 'form-control' %>
  </div>
  <%= submit_tag "Add", class: "btn btn-outline btn-success btn-sm stopper"%>
<% end %>
